#slider-container {
    width: 300px;
    overflow: hidden;
    position: relative;
  }
  #slider {
    display: flex;
    transition: transform 0.5s;
  }
  #slider img {
    width: 300px;
    height: auto;
  }
  .slider-button {
    cursor: pointer;
    margin: 0 40px;
  }
  .slider-button2 {
    cursor: pointer;
    margin: 0 55px;
  }